# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html

public/**
node_modules/**
coverage/**
src/registerServiceWorker.js

# package-lock.json
*-lock.json 
*-lock.yaml

# json
.vscode/settings.json
package.json
.eslintrc.json
vite.config.js