@use '../../scss/abstracts' as *;

.lendo__app-nav {
  .nav-link {
    color: var(--bs-lendo-dark-blue) !important;
    font-weight: 700 !important;
    padding-inline: rem(15px) !important;
    padding-block: rem(10px) !important;
  }
  &__links {
    & svg {
      font-size: rem(10px) !important;
    }
  }
}
