@import '../../scss/abstracts/index';

.lendo__app-nav {
    .nav-link {
        color: $lendo-dark-blue !important;
        font-weight: 700 !important;
    
        & svg {
            font-size: 10px!important;
        }
    }
}