// Lendo Theme Colors
$lendo-light-blue: #E4E9EF;
$lendo-blue: #2365E8;
$lendo-dark-blue: #15162A;
$lendo-light-gray : #F8F8F8;
$lendo-light-gray-300 : #dee2e6;
$lendo-gray : #53585E;

// Whites
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


