// Lendo Theme Colors
$lendo-light-blue: #e4e9ef;
$lendo-blue: #2365e8;
$lendo-dark-blue: #15162a;
$lendo-light-gray: #f8f8f8;
$lendo-light-gray-300: #dee2e6;
$lendo-gray: #53585e;

// Whites
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Bootsrap defaults
$blue: #0d6efd;
$green: #198754;
$cyan: #0dcaf0;
$yellow: #ffc107;
$red: #dc3545;
$light: $gray-100;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark
);

// Custom Colors
$custom-colors: (
  'lendo-blue': $lendo-blue,
  'lendo-light-blue': $lendo-light-blue,
  'lendo-dark-blue': $lendo-dark-blue
);
