$lendo-blue: #2365E8;
$lendo-dark-blue: #15162A;
$lendo-light-gray : #F8F8F8;
$lendo-light-gray-300 : #dee2e6;
$lendo-gray : #53585E;
$white: #fff;
$black: #000;
$body-bg: $lendo-light-gray;
$content-font-size: rem(20px);


$font-family-base: 'Mulish', sans-serif;
$font-weight-bolder: 800;
$nav-tabs-border-radius: 0;
$nav-link-padding-y: rem(20px);
$nav-link-padding-x: rem(30px);
$nav-link-font-size: rem(22px);
$nav-link-color: $white;
$nav-link-hover-color: $lendo-light-gray-300;
$nav-tabs-border-width: 0;