@use './scss/abstracts' as *;

.lendo {
  &__content-body {
    padding-top: rem(150px);
  }
}
.lendo__app-nav .nav-link,
.lendo-link {
  font-size: rem(15px);
}

.text-dark-blue {
  color: var(--bs-lendo-dark-blue) !important;
}
